@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_Layout";
}

<div class="min-h-[70vh] flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 neo-card p-10 relative overflow-hidden">
        
        <div class="relative z-10">
            <div class="text-center mb-10">
                <i class="fa-solid fa-cat text-pink-500 text-5xl mb-6 shadow-[0_0_20px_rgba(236,72,153,0.5)] rounded-full"></i>
                <h2 class="text-3xl font-black text-white tracking-tighter uppercase">
                    ACCESO AL <br/><span class="text-pink-500">SISTEMA</span>
                </h2>
            </div>

            @if (ViewBag.Error != null)
            {
                <div class="mb-6 border-l-2 border-red-500 pl-4 py-2 bg-red-500/10">
                    <p class="text-xs font-mono text-red-400 tracking-wider">
                        [ERROR] @ViewBag.Error
                    </p>
                </div>
            }

            <form class="mt-8 space-y-8" asp-controller="Auth" asp-action="Login" method="POST">
                <div class="space-y-6">
                    <div>
                        <label for="usuario" class="block text-xs font-mono text-gray-400 tracking-widest mb-2">USUARIO</label>
                        <input id="usuario" name="usuario" type="text" required class="neo-input w-full px-2 py-2 text-xl font-light" placeholder="admin">
                    </div>
                    <div>
                        <label for="contrasena" class="block text-xs font-mono text-gray-400 tracking-widest mb-2">CONTRASEÑA</label>
                        <input id="contrasena" name="contrasena" type="password" required class="neo-input w-full px-2 py-2 text-xl font-light" placeholder="••••••••">
                    </div>
                </div>

                <div class="pt-4">
                    <button type="submit" class="w-full flex justify-between items-center py-4 px-6 text-sm font-black tracking-widest uppercase text-real-white bg-pink-600 hover:bg-pink-700 rounded-xl transition-all shadow-md hover:shadow-lg">
                        <span>INGRESAR</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </form>

            <div class="mt-10 border-t border-gray-800 pt-6 text-center">
                <p class="text-xs font-mono text-gray-400">
                    ¿NUEVO CLIENTE? 
                    <a asp-action="Registro" class="font-bold text-pink-500 hover:text-pink-400 transition-colors ml-2">CREAR CUENTA</a>
                </p>
            </div>
        </div>
    </div>
</div>
